.escena1Style {
    background-color: #0f020f;

    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    .juego {
        height: 700px;
        width: 700px;
        overflow: hidden;
        background-image: url(fondo/bosque.jpeg);
        background-size: contain;

        img {
            width: 80px;
            position: relative;
        }

        .diablo {
            top: 357px;
        }

        .princesa {
            top: 449px;
            left: 332px;
        }
    }

    .papel {
        position: absolute;
        top: -5px;
        
        img {
            width: 750px;
        }

        p {
            position: absolute;
            bottom: 63px;
            left: 65px;
            font-family: "UnifrakturCook", cursive;
            font-size: 40px;
            color: rgb(28, 11, 2);
        }

        .flecha {
            position: absolute;
            right: 70px;
            bottom: 60px;
            width: 20px;

            &:hover {
                cursor: pointer;
                filter: brightness(80%);
            }
        }

        .hide {
            opacity: 0;
        }

        .show {
            opacity: 100;
        }
    }
}